@font-face {
    font-family: 'Coming Soon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Coming Soon Regular'), url('font/ComingSoon-Regular.woff') format('woff');
}

body {
    font-family: Coming Soon Regular;
}

ol>li:first-of-type {
    color: blue;
}

li:nth-child(2) {
    color: red;
}

li:nth-child(1) {
    color: red;
}